{% extends "digitalstore/digitalstore-base.html" %}
{% block product %}
{% load static %}

<!-- Start Inner Banner Wrapper -->
<section class="inner-banner-wrapper pt-80 pb-80 text-center" style="background-image:url('{% static 'assets/img/bg.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="inner-banner-wrapper-content">
                    <h4>Premium WordPress Themes, Web Templates and Many More ...</h4>
                    <form action="#">
                        <input type="search" name="search" placeholder="Search Your KeyWords....">
                        <button type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Inner Banner Wrapper -->
<!-- Start Breadcrumb Area -->
<div class="breadcrumb-area pt-30 pb-30 section-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li>Product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->
<!-- Start Product Area -->
<section class="product-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  order-lg-first order-last">
                <!-- single -->
                <div class="p-widgets-single mb-40">
                    <h2 class="title">Category</h2>
                    <div class="sidebar-check-form">
                        <form action="#">
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="m-wp">
                                    <label for="m-wp">WordPress</label>
                                </div>
                                <span>229</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="p-sitet">
                                    <label for="p-sitet">Site Template</label>
                                </div>
                                <span>129</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="p-marketplace">
                                    <label for="p-marketplace">Marketplace </label>
                                </div>
                                <span>19</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="m-ecommerc">
                                    <label for="m-ecommerc">eCommerce</label>
                                </div>
                                <span>55</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="m-technology">
                                    <label for="m-technology">Technology</label>
                                </div>
                                <span>25</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="m-marketing">
                                    <label for="m-marketing">Marketing</label>
                                </div>
                                <span>68</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="m-admin">
                                    <label for="m-admin">Admin Templates </label>
                                </div>
                                <span>05</span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- single -->
                <div class="p-widgets-single mb-40">
                    <h2 class="title">Tags</h2>
                    <div class="sidebar-check-form">
                        <form action="#">
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="tmark">
                                    <label for="tmark">Marketplace</label>
                                </div>
                                <span>229</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-fashion">
                                    <label for="t-fashion">Fashion</label>
                                </div>
                                <span>129</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-responsive">
                                    <label for="t-responsive">Responsive </label>
                                </div>
                                <span>19</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-ecommerc">
                                    <label for="t-ecommerc">eCommerce</label>
                                </div>
                                <span>55</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-technology">
                                    <label for="t-technology">Technology</label>
                                </div>
                                <span>25</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-shop">
                                    <label for="t-shop">Shop</label>
                                </div>
                                <span>25</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-marketing">
                                    <label for="t-marketing">Marketing</label>
                                </div>
                                <span>68</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-admin">
                                    <label for="t-admin">Admin Templates </label>
                                </div>
                                <span>05</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-multipurpose">
                                    <label for="t-multipurpose">Multipurpose </label>
                                </div>
                                <span>05</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-store">
                                    <label for="t-store">Store </label>
                                </div>
                                <span>05</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="t-Portfolio">
                                    <label for="t-Portfolio">Portfolio</label>
                                </div>
                                <span>05</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="p-widgets-single mb-40">
                    <h2 class="title">Sales</h2>
                    <div class="sidebar-check-form">
                        <form action="#">
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="s-noslae">
                                    <label for="s-noslae"> No Sales </label>
                                </div>
                                <span>4</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="s-low">
                                    <label for="s-low"> Low </label>
                                </div>
                                <span>2</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="s-high">
                                    <label for="s-high">High</label>
                                </div>
                                <span>105</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="s-medium">
                                    <label for="s-medium"> Medium </label>
                                </div>
                                <span>95</span>
                            </div>
                            <div class="sidebar__check-p">
                                <div class="sidebar__check">
                                    <input class="form-check-input" type="checkbox" id="s-top">
                                    <label for="s-top">Top Sellers  </label>
                                </div>
                                <span>39</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="product-sorting-list">
                            <span><b>Sort By :</b></span>
                            <span><a href="javascript:void();">Best Metch</a></span>
                            <span class="active"><a href="javascript:void();">Best Sellers</a></span>
                            <span><a href="javascript:void();">Newest</a></span>
                            <span><a href="javascript:void();">Top Reted</a></span>
                            <span><a href="javascript:void();">Trending</a></span>
                            <span><a href="javascript:void();">Price</a></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <!-- Single -->

                    {% for product in all_products %}
                        <div class="col-md-6 mb-30">
                            <div class="product-item">
                                <!-- thumbnail -->
                                <div class="thumbnail">
                                    <a href="/digitalstore/digitalproduct-details/{{product.slug}}">
                                        <img src="{{product.product_thumbnail.url}}" alt="thumbnial">
                                    </a>
                                    <div class="badge trending">
                                        <span>{{product.product_category}}</span>
                                    </div>
                                </div>
                                <!-- content -->
                                <div class="content">
                                    <h3><a href="/digitalstore/digitalproduct-details/{{product.slug}}">{{product.product_name | truncatechars:35 }}.</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Arpan</a></span>
                                        <span>in <a href="#">{{product.product_category}}</a></span>
                                    </div>
                                    <div class="ratting">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><small>(05)</small></span>
                                    </div>
                                    <div class="bottom">
                                        <div class="price">
                                            <span>₹{{product.price}}</span>
                                        </div>
                                        <div class="right-btn">
                                            <a class="button-4" href="{{product.live_preview_link}}">Preview</a>
                                            <a class="button-3" href="{% url 'AddToCart' %}?product_id={{ product.id }}"><i class="fas fa-shopping-cart"></i></a>
                                            <a class="button-5" href="#"><i class="fas fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                <!-- Pagination -->
                <div class="row mt-30 mb-50 text-center">
                    <div class="col-lg-12">
                        <div class="product-pagination">
                            <ul>
                                <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><span>2</span></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Area -->
<!-- Start Subscribe Area -->
<section class="subscribe-area pt-100 pb-100" style="background-image: url('assets/img/sub.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="subscribe-form">
                    <h3>Subscribe Now!</h3>
                    <p>Simple pricing plans. Unlimited web maintenance service</p>
                    <form action="#">
                        <input type="email" name="email" placeholder="Enter Your Email..">
                        <button type="submit"><i class="fas fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Area -->
{% endblock product %}